body{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

.track-text{
    color:#204478;
    margin-top: 10px;
}


.sequencer-row{
    z-index: 100;
    height: 10vh;
    position: relative;
}
.sequencer-row.evenRow{
    left: -200%;
    transition: left .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.evenRow.enter{
    left: 0;
    transition: left .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.oddRow{
    right: -200%;
    transition: right .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.oddRow.enter{
    right: 0;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.sequencer-button{
    width: 5vw;
    margin-right: .625vw;
    margin-left: .625vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 8vh;
    padding:5px;
    background-color: #435979;
    color:#000;
    border-radius: 5px;
    z-index: 100;
    outline: 0;
    border:none;
}

.sequencer-button.upbeat{
    background-color: #666;
}

.row2 {
    position:relative;
    left: -200%;
    transition: left .5s;
    transition-timing-function: ease-out;
}

.row1{
    position:relative;
    right: -200%;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.row1.enter {
    right:0;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.row2.enter {
    left:0;
    transition: left .5s;
    transition-timing-function: ease-out;
}

.navbar {
    top:-100px;
}
.navbar.enter {
    top:0;
    transition: top .5s;
    transition-timing-function: ease-out;
}

.live-button{
    color: #fff;
    width: 100%;
    height: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #2B5DA5;
    border: none;
    border-radius: 80px;
    font-size: 34pt;
    outline: 0;
}

.sequencer-button.bright{
    background-color: rgb(154, 201, 255);
}

#bg1 {
    width: 80%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

body {
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
    background-position: bottom right;
}

.custom {
    margin-bottom:10px;
    margin-top:20px;
    width: 80%;
    -webkit-appearance: none !important;
    height: 20px;
    border-radius: 8px;
    background: -webkit-gradient(linear,center top, center bottom, from(#204478),to(#204478),color-stop(50%,#204478));
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

/* Change the Slider Button Color Here */
.custom::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#5473A2;
    height:30px;
    width:30px;
    border-radius: 15px;
}

.custom::-webkit-slider-thumb:before {
    background-color: yellow;
}

.live-volume p {
    margin-bottom:-10px;
    font-size: 18pt;
}