body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.track-preview{
    margin-bottom: 10px;
    background-color: purple;
    height: 20vh;
}

.sequencer-row{
    z-index: 100;
    height: 10vh;
    position: relative;
}
.sequencer-row.evenRow{
    left: -200%;
    transition: left .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.evenRow.enter{
    left: 0;
    transition: left .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.oddRow{
    right: -200%;
    transition: right .5s;
    transition-timing-function: ease-out;
}
.sequencer-row.oddRow.enter{
    right: 0;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.sequencer-button{
    width: 5vw;
    margin-right: .625vw;
    margin-left: .625vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 8vh;
    padding:5px;
    background-color: #666;
    border: 1px solid #666;
    color:#000;
    border-radius: 5px;
    z-index: 100;
    outline: 0;
}

.row2 {
    position:relative;
    left: -200%;
    transition: left .5s;
    transition-timing-function: ease-out;
}

.row1{
    position:relative;
    right: -200%;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.row1.enter {
    right:0;
    transition: right .5s;
    transition-timing-function: ease-out;
}

.row2.enter {
    left:0;
    transition: left .5s;
    transition-timing-function: ease-out;
}

.navbar {
    top:-100px;
}
.navbar.enter {
    top:0;
    transition: top .5s;
    transition-timing-function: ease-out;
}

.live-button{
    color: #fff;
    width: 100%;
    height: 20vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
    background-color: #666;
    border: none;
    border-radius: 80px;
}

.bright{
    background-color: yellow;
}

#bg1 {
    width: 80%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

body {
    background-image: url('../img/bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
    background-position: bottom right;
}
