<nav class="navbar navbar-inverse navbar-static-top sequencer-nav" ng-class="{enter: enter}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="back()">Back</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Instrument
                        Select <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="setInstrument(0)">Sweet Drum</a></li>
                        <li><a ng-click="setInstrument(1)">Hella Bass</a></li>
                        <li><a ng-click="setInstrument(2)">Phat Synth</a></li>
                        <li><a ng-click="setInstrument(3)">Super Sound</a></li>
                        <li><a ng-click="setInstrument(4)">Krazy Keys</a></li>
                        <li><a ng-click="setInstrument(5)">Beepin' Bass</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row row1" ng-class="{enter:enter}">
        <div class="col-xs-3">
            <button ng-mobile-click="play(7)" class="live-button">7</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(6)" class="live-button">6</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(5)" class="live-button">5</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(4)" class="live-button">4</button>
        </div>
    </div>
    <div class="row row2" ng-class="{enter:enter}">
        <div class="col-xs-3">
            <button ng-mobile-click="play(3)" class="live-button">3</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(2)" class="live-button">2</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(1)" class="live-button">1</button>
        </div>

        <div class="col-xs-3">
            <button ng-mobile-click="play(0)" class="live-button">0</button>
        </div>
    </div>
</div>