<link rel="stylesheet" href="css/tracks.css">
<div class="container-fluid" id="maindiv" ng-class="{enter:enter}">
    <div id="tracks" class="row">
        <div class="col-sm-12" ng-repeat="track in tracks">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">

                    <div class="container-fluid text-center track" ng-class="{open:open}">
                        <div class="gear" ng-click="openSettings(this)" ng-class="{open: open}">
                            <img src="img/gear.png">
                        </div>
                        <div class="row" ng-repeat="pitch in measure" ng-init="i = $index">
                            <div class="col-sm-12">
                                <div class="sequencer-button" ng-repeat="note in measure[i] track by $index" ng-click="note.active = !note.active" ng-class="{bright: note.active}">
                                </div>
                            </div>
                        </div>

                        <div class="settings">
                            <p>Volume</p>
                            <input type="range" class="custom"/>
                            <button class="btn">Delete</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="addbtn" ng-class="{enter:enter}">
   <h1>+</h1>
</div>
