<link rel="stylesheet" href="css/tracks.css">

<div class="container-fluid" id="maindiv" ng-class="{enter:enter}">
    <div id="tracks" class="row">
        <div class="col-xs-10 col-xs-offset-1" ng-repeat="track in tracks">
            <div class="row track" ng-class="{open:open}">
                <div class="col-xs-11">
                    <div class="container-fluid text-center" ng-class="{open:open}">
                        <div class="row">
                            <div class="col-xs-12" ng-if="track.sampleId == 0">
                                <img src="img/drum.png" align="left"> <h3 class="track-text">Sweet Drums <small>{{track.ID}}</small></h3>
                            </div>
                            <div class="col-xs-12" ng-if="track.sampleId == 1">
                                <img src="img/bass.png" align="left"> <h3 class="track-text">Hella Bass <small>{{track.ID}}</small></h3>
                            </div>
                            <div class="col-xs-12" ng-if="track.sampleId == 2">
                                <img src="img/synth.png" align="left"> <h3 class="track-text">Phat Synth <small>{{track.ID}}</small></h3>
                            </div>
                            <div class="col-xs-12" ng-if="track.sampleId == 3">
                                <img src="img/sound.png" align="left"><h3 class="track-text">Super Sound <small>{{track.ID}}</small></h3>
                            </div>
                            <div class="col-xs-12" ng-if="track.sampleId == 4">
                                <img src="img/piano.png" align="left"><h3 class="track-text">Krazy Keys <small>{{track.ID}}</small></h3>
                            </div>
                            <div class="col-xs-12" ng-if="track.sampleId == 5">
                                <img src="img/beepbass.png" align="left"><h3 class="track-text">Beepin' Bass <small>{{track.ID}}</small></h3>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="settings">
                                <p>Volume</p>
                                <input type="range" ng-model="track.volume" ng-change="volumeChange(track)" min="0" max="3" step=".1" class="custom "/>
                                <button class="btn" ng-click="delTrack(track)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-xs-1">
                        <div class="gear" ng-click="openSettings(this)" ng-class="{open: open}">
                            <img src="img/gear.png">
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div>
       <!--
       <h1 ng-if="tracks.length == 0">No Tracks found. Tap the button below to add a new track.</h1>
       -->
    </div>
</div>

<div ng-click="live()" class="livebtn" ng-class="{enter:enter, selected:liveSelected}">
    <h1 class="glyphicon glyphicon-record" aria-hidden="true"></h1>
</div>

<div ng-click="newTrack()" class="addbtn" ng-class="{enter:enter, selected:newSelected}">
   <h1>+</h1>
</div>
