<div class="sequencer-row text-center" ng-repeat="pitch in measures[currMeasure]" ng-init="i = $index">
    <button class="sequencer-button" ng-repeat="note in measures[currMeasure][i] track by $index"
            ng-click="note.active = !note.active" ng-class="{bright: note.active}">
        &nbsp;
    </button>
</div>

<div class="btn-left">
    <a ng-click="subMeasure()">
        <h1>
            <span class="glyphicon glyphicon-minus btn-text"></span>
        </h1>
    </a>
</div>

<div class="btn">
    <a ng-click="subMeasure()">
        <h1>
            <span class="glyphicon glyphicon-minus btn-text"></span>
        </h1>
    </a>
</div>

<div class="btn-right">
    <a ng-click="subMeasure()">
        <h1>
            <span class="glyphicon glyphicon-minus btn-text"></span>
        </h1>
    </a>
</div>